// Buttons
.button, input[type="submit"], button {
    border:0 none;
    background-color: $primary-b;
    color: $primary-c;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width:auto;
    cursor: pointer;
    @include rem(padding, 11px 45px 15px 45px);
    @include rem(font-size, 17px);
    transition:all $transitionOn linear;
    border-radius: 30px;
    position: relative;
    line-height: 17px;
    border: 1px solid darken($primary-b, 10%);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.37);
    &:hover, &:focus {
        background-color: darken($primary-b, 10%);
        color: $primary-c;
    }
    @include breakpoint(medium) {
        display: inline-block;
    }
    +.btn {
        margin-top: 5px;
        @include breakpoint(medium) {
            margin-left: 1em;
        }
    }
    // &[class*=" icon-"] {
    //     // @extend .button;
    //     &:before {
    //         right: 22px;
    //         position: absolute;
    //         transition: right 0.1s ease-in;
    //         // @include rem(font-size, 13px);
    //         top: 14px;
    //     }
    // }
    // &[class*="arrow"] {
    //     &:hover, &:focus {
    //         &:before {
    //             transition: right 0.2s ease-in;
    //             right: 14px;
    //         }
    //     }
    // }
}

input, select, textarea {
    // color: $inputColorDefault;
    padding: 13px;
    outline: 0;
    width:100%;
    display: block;
    margin: 0;
    transition: all 0.2s linear;
    // @include placeholder($inputPlaceholder);}
}

.form-group  {
    margin-bottom: $module-spacing / 2;
}