{{> sunburst}}

<header data-100-top="opacity:1; top: 0; " data-300-top="opacity:0; top: 50px;">
	<div class="row">
		<div class="columns small-4">
	 		<h1 class="logo section-title">pete rawlings</h1>
		</div>
		<div class="columns small-8">
			<nav>
				<ul>
					<li><a href="/about.html">About</a></li>
					<li><a href="/services.html">Services</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</nav>
			<div class="logo-circle"><span>PR</span></div>
		</div>
	</div>
</header>


