<section class="services">
	<!-- <div class="bg"> -->
		<div class="row" data-bottom-top="top:-20%;left:-20%;" data-bottom-center="top:0;left:0;">
			<div class="columns small-4">
				<h3>Web design</h3>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam vel, adipisci repellendus quis nemo mollitia quos eveniet sequi libero, modi inventore accusamus voluptates dignissimos quas eos facere soluta ab quia!</p>
				</div>
			</div>
			<div class="columns small-4">
				<h3>User Interface developemnt</h3>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sit suscipit debitis ut deserunt velit ex ducimus consequuntur similique voluptates non nisi natus illum, molestias, aliquid id, error hic libero.</p>
				</div>
			</div>
			<div class="columns small-4">
				<h3>Search engine ranking</h3>
				<div>
					<p>Also known as Search Engine Optimisation, this is what will help you website come higher up the list in search engine (eg Google) results. There is no 'on/off' switch for this, but there are a number of techniques and strategies that will improve your rank. <br><a> I can help you with these</a></p>
				</div>
			</div>
		</div>
	<!-- </div> -->

</section>





