---
bodyClass: home
---


<div class="logo-circle"><span>PR</span></div>
<!-- <div data-0="transform: scale(1)" data-100="transform: scale(0.75)" class="logo-circle"><span>PR</span></div> -->

<header class="main-headline">
	<h1>Hi, my name is Pete, <br>I <span>craft things</span> for the web</h1>
	<span>Creativity, technology, nature, music and ideas. <br>
I am a user interface and front end developer currently living in Sydney, Australia.</span>
</header>

<section class="about section-alt clearfix">
	<div class="inner">
		<h2>About Me</h2>
		<div class="about-tab">
			<h3 class="h5">Travel</h3>
			<hr class="divider-small">
			<p>The occasional adventure, and capture the occasional, cool moment.</p>
		</div>
		<div class="about-tab">
			<h3 class="h5">Music</h3>
			<hr class="divider-small">
			<p>The occasional adventure, and capture the occasional, cool moment.</p>
		</div>
		<div class="about-tab">
			<h3 class="h5">Nature</h3>
			<hr class="divider-small">
			<p>The occasional adventure, and capture the occasional, cool moment.</p>
		</div>
	</div>
</section>

<!-- <section class="about clearfix">
	<div class="inner">
		<h2>About Me</h2>
		<div class="about-tab">
			<h3 class="h5">Travel</h3>
			<hr class="divider-small">
			<p>The occasional adventure, and capture the occasional, cool moment.</p>
		</div>
		<div class="about-tab">
			<h3 class="h5">Music</h3>
			<hr class="divider-small">
			<p>The occasional adventure, and capture the occasional, cool moment.</p>
		</div>
		<div class="about-tab">
			<h3 class="h5">Nature</h3>
			<hr class="divider-small">
			<p>The occasional adventure, and capture the occasional, cool moment.</p>
		</div>
	</div>
</section> -->

<section class="quote section-bg-img ">
	<div class="inner">
		<h2>Recent work</h2>
		<div>
			<p>I specialise in responsive techniques, utilising the tools developed by the incredible  development community, using progressive enhancement where ever possible to ensure the Web is moving forward.</p>
			<p>I am currently working with the award winning team at Reactive Media</p>
		</div>
	</div>
</section>

<section class="recent-work">
	<div class="inner">
		<div>
			<p>I carefully forge user interfaces, mobile first, that function beautifully across a large range of devices for a variety of projects and clients. Using Agile methodologies across small and large teams in close collaboration, for a range of highly flexible CMS’s such as Umbraco, Wordpress and more powerful and intelligent Content Management Systems like Sitecore.</p>
		</div>
		<div class="portfolio-piece">
			<img src="" alt="">
			<div class="overlay"></div>
			<div class="overlay-content">
				<h4>Australand</h4>
				<h4>User Interface development</h4>
			</div>
		</div>
		<div class="portfolio-piece">
			<img src="" alt="">
			<div class="overlay"></div>
			<div class="overlay-content">
				<h4>Australand</h4>
				<h4>User Interface development</h4>
			</div>
		</div>
		<div class="portfolio-piece">
			<img src="" alt="">
			<div class="overlay"></div>
			<div class="overlay-content">
				<h4>Australand</h4>
				<h4>User Interface development</h4>
			</div>
		</div>
		<div class="portfolio-piece">
			<img src="" alt="">
			<div class="overlay"></div>
			<div class="overlay-content">
				<h4>Australand</h4>
				<h4>User Interface development</h4>
			</div>
		</div>
	</div>
</section>


<footer>
	<div class="inner">
		<h2></h2>
		<form action="">
			<div class="form-element-wrap">
				<label for="name">Name</label>
				<input type="text" placeholder="Name">
			</div>
		</form>
		<div class="social">
			<a href="https://twitter.com/roolins">
				<img src="img/twitter.svg" alt="">
			</a>
			<a href="https://www.linkedin.com/pub/pete-rawlings/49/66/bb1">
				<img src="img/linkedin.svg" alt="">
			</a>
			<a href="mailto:rawlings.pete@gmail.com">
				<img src="img/mail.svg" alt="">
			</a>
		</div>
	</div>

</footer>





