---
bodyClass: home
---


<div data-0="transform: scale(1)" data-100="transform: scale(0.75)" class="logo-circle"><span>PR</span></div>

<header class="main-headline">
	<h1>Hi, my name is Pete, <br>I craft things for the web</h1>
</header>

<main>
	<p>I love creativity, technology, nature and ideas. I am a user interface and front end developer currently living in Sydney, Australia.<a href="https://www.flickr.com/photos/cujiflow/"> I like to capture the occasional moment</a> and <a href="http://www.mixcloud.com/rawlinsoul">share beautiful music that I find.</a></p>
</main>

<!-- <a href="#">More</a> -->

<section class="additional-info">
	<div class="inner">
		<p> I carefully forge user interfaces, mobile first, that function beautifully across a large range of devices for a variety of projects and clients. These range from company's that showcase product design like  <a href="http://www.design-industry.com.au">Design and Industry </a> to larger organisations selling property nationaly such as <a href="http://www.australand.com.au">Australand</a>, which are built on a highly flexible, powerful and intelligent Content Management Systems like Sitecore.</p>
		<p> I specialise in responsive techniques, utilising the tools developed by the incredible international development community, and by using progressive enhancement where ever possible to ensure the Web is moving forward.</p>
		<p>I am currently working with the award winning team at <a href="http://www.reactive.com">Reactive Media</a></p>
		<div class="work-section">
			<div class="work">
				<a class="view view-first">
				     <img src="img/d&i-thumb.jpg" />
				     <div class="mask">
					     <h2>Design &amp; Industry</h2>
					     <p>Showcasing some of the amazing work that they do</p>
				         <!-- <span href="#" class="info">Read More</span> -->
				     </div>
				</a>
			</div>
			<div class="work">
				<a class="view view-first">
				     <img src="img/d&i-thumb.jpg" />
				     <div class="mask">
					     <h2>Design &amp; Industry</h2>
					     <p>Showcasing some of the amazing work that they do</p>
				         <!-- <span href="#" class="info">Read More</span> -->
				     </div>
				</a>
			</div>
		</div>
		<div class="sub-section">
	<!-- 	<table>
			<tr>
				<td>Skills</td>
				<td>
					<ul>
						<li>HTML/CSS</li>
						<li>SASS</li>
						<li>jQuery</li>
						<li>Javascript</li>
						<li>Sublime Text</li>

						<li>Grunt</li>
						<li>Wordpress</li>
						<li>Boostrap</li>
						<li>Foundation Zurb</li>
						<li>Adobe Creative Suite</li>
					</ul>

				</td>
			</tr>
		</table> -->
			<h4>Skills</h4>
			<ul>
				<li>HTML/CSS</li>
				<li>SASS</li>
				<li>jQuery</li>
				<li>Javascript</li>
				<li>Sublime Text</li>

				<li>Grunt</li>
				<li>Wordpress</li>
				<li>Boostrap</li>
				<li>Foundation Zurb</li>
				<li>Adobe Creative Suite</li>
			</ul>
		</div>
	</div>
</section>

<footer>
		<a href="https://twitter.com/roolins">
			<img src="img/twitter.svg" alt="">
		</a>
		<a href="https://www.linkedin.com/pub/pete-rawlings/49/66/bb1">
			<img src="img/linkedin.svg" alt="">
		</a>
		<a href="mailto:rawlings.pete@gmail.com">
			<img src="img/mail.svg" alt="">
		</a>
</footer>

{{!> sunburst}}





