---
bodyClass: home
---

<section class="home-section">
	<div class="why-me">
		<div class="row">
			<div class="columns">
				<div class="main-headline">			
					<h2>Hi my name is Pete, <br>I craft things for the web</h2>			
				</div>
			</div>
		</div>
		<div class="row">
			<div class="columns small-4">
		 		<h1 class="logo section-title">what exactly?</h1>
			</div>
			<div class="columns small-8">
				<div class="">
					<p>I am a web designer and user interface developer</p>
					<p>I can <a href="services.html">design and build</a> your website, improve your <a href="services.html">search engine ranking</a>, create an <a href="services.html">email campaign</a> for you, advise on social media or even create high performing, browser compatible <a href="about.html">user interfaces</a>. </p>
					<p>You may know what you want to achieve, but may not be too sure how to get there. <a href="services.html">
					<br>I can help</a></p>
				</div>
			</div>
		</div>
	</div>
<section>

{{> about}}

{{> services}}





