
<section class="about-me" id="slide1">
	<div class="bg">
		<div class="row">
			<div class="columns small-4">
		 		<h1 class="logo section-title">want a bit <strong>more</strong>, eh?</h1>
			</div>
			<div class="columns small-8">
				<div>
				<!-- //transform:translateY(0) -->
					<p>I have always been fascinated by the web since I first used it back in the day of the 56k modem. It opened up a seemingly infinite amount of information and posibilities. I am constatnly inspired by the community of people that push the web forward every minute of every day, with real passion</p>
				</div>
				<h3>simplicity works</h3>
				<div>
					<p>Everyone likes something that is simple to use. I have been creating beautiful user interfaces for the past several years, working for agencies and freelance. My focus is on developing user interfaces that help to enhance the experience of those people that interact with them. I find myself obsessed on a daily basis whether things that humans interact with are simple to use and make sense. These things shouldn't require thought.</p>
					<p>Performance is increasingly important, as is scalable and effienct coding practices. Each website / app I build I streamline my processes and keep firmly up-to-date with the best practices in the Front End Development world.</p>
				</div>

				<h3>Skills</h3>
				<div class="row">
					<div class="columns small-6">
						HTML
					</div>
					<div class="columns small-6">
						<div class="slider">
							<span class="knob"></span>
						</div>
					</div>
				</div>
				CSS 2/3 (slider)<br>
				Javascript (slider)<br>
				Responsive (slider)<br>
				SASS (slider)<br>
				Agile (slider)<br>

			</div>
		</div>
	</div>	
</section>





